doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        block link
            link(rel="stylesheet" media="all" href="/css/stylesheet.css")
            link(rel="stylesheet" media="all" href="/js/components/highlightjs/styles/zenburn.css")
        block title
            title Guide

    body(ng-app="zekiApp")
        block body
            body
                div(ng-view class="zekiApp")
        script(type='text/javascript' src='/js/components/jquery/dist/jquery.min.js')
        script(type='text/javascript' src='/js/components/angular/angular.min.js')
        script(type='text/javascript' src='/js/components/angular-route/angular-route.min.js')
        script(type='text/javascript' src='/js/components/d3/d3.min.js')
        script(type='text/javascript' src='/js/components/d3-cloud/build/d3.layout.cloud.js')

        script(type="text/javascript" src="/js/directives/bar-chart.min.js")
        script(type="text/javascript" src="/js/filters/filters.min.js")
        script(type="text/javascript" src="/js/config-route.min.js")

        script(type="text/javascript" src="/js/controllers/main-controller.min.js")
        script(type="text/javascript" src="/js/controllers/bubble-controller.min.js")
        script(type="text/javascript" src="/js/controllers/tags.min.js")
        script(type="text/javascript" src="/js/controllers/word-cloud-controller.min.js")
        script(type="text/javascript" src="/js/controllers/bar-controller.min.js")

        script(type="text/javascript" src="/js/components/highlightjs/highlight.pack.min.js")
        script(type="text/javascript" src="/js/components/angular-highlightjs/angular-highlightjs.min.js")





