div(class="small-3 columns menu")
    h3 Data visualization v0.0.1
    ul
        li: a(href="") General
            ul
                li: a(href="#/partials/bubble-chart") Bubble Chart
                li: a(href="#/partials/word-cloud") Word Cloud
                li: a(href="#/partials/bar-chart") Bar Chart
div(class="small-9 columns contents")
    block contents