div(class="small-3 columns menu")
    h3 Core-ui v0.0.1
    ul
        li: a(href="/docs/index.html" target="_blank") Sass Guide
        li General
            ul
                li: a(href="") Sass
                li: a(href="/public/dist/html/grid.html") Grid
                li: a(href="#/partials/icons") Icons
                li: a(href="") Animation
        li: a(href="") Layout
            ul
                li: a(href="") Dropdown
                li: a(href="") Modal
                li: a(href="") Table
                li: a(href="") Tabs
        li: a(href="") Form
            ul
                li: a(href="") Textbox
                li: a(href="") Textarea
                li: a(href="") Radio
                li: a(href="") Checkbox
                li: a(href="") Combobox
                li: a(href="") File upload
                li: a(href="") Validation
        li: a(href="") Element
            ul
                li: a(href="#/partials/button") Button
                li: a(href="/public/dist/html/button-group.html") Button Group
                li: a(href="") Badge
        li Component
            ul

                li: a(href="") Alert
                li: a(href="") Slider
                li: a(href="") Loader
                li: a(href="") Progress
                li: a(href="") Swich
        li Navigation
            ul
                li: a(href="") Pagination
                li: a(href="") Breadcrumbs
div(class="small-9 columns contents")
    block contents